* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: 'Outfit', sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  outline: 0.1px solid #483776;
  /* border-radius: 10px; */
  /* -webkit-app-region: drag; */
  color: '#141b35';
}

.title-bar {
  /* display: none; */
  -webkit-app-region: drag;
}

#root {
  /* height: 100%; */
  /* width: 100%; */
}

.delete-icon:hover {
  opacity: 1 !important;
}

/* Minimalistic scrollbar styles */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.09);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

.hide-scrollbar {
  overflow-y: auto;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}
