html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: 'Outfit', sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  box-sizing: border-box;
  border: 0.1px solid #483776;
  border-radius: 10px;
}

#root {
  height: 100%;
  width: 100%;
}

.delete-icon:hover {
  opacity: 1 !important;
}
